%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  //   background-color: lighten($color: $primary-color, $amount: 10%);
  border: 1px solid set-text-color($primary-color);
  color: set-text-color($primary-color);
}

.btn-secondary {
  @extend %btn;
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  color: $primary-color;
}
